<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.suma.matmatcher" >

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.matmatcher" >
        <activity
            android:name=".CameraActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:exported="true"
            android:label="@string/title_history_activity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".DetailActivity"
            android:exported="true"
            android:label="@string/title_detail_activity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".PlatesInfoActivity"
            android:exported="true"
            android:label="@string/title_plateinfo_activity"
            android:screenOrientation="fullSensor" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="es.suma.matmatcher"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>